@{

    ViewBag.Title = "Home Page";

}



<div class="jumbotron">

    <h1>Corellian Engineering Corporation</h1>

</div>

<div class="row">

    <div class="col-md-4">

        <h2>Welcome to Corellian Engineering Corporation</h2>

        <p>
            CEC is one of the three largest starship manufacturers in the galaxy.
        </p>

    </div>

    <div class="col-md-4">

        <h2>Transports</h2>

        <p>
            Our transports our some of the highest quality out there.
        </p>

        <p>
        </p>

    </div>

    <div class="col-md-4">

        <h2>Beginnings</h2>

        <p>
            From humble beginnings in the Corellian System, to being known across the galaxy!
        </p>

        <p>
        </p>

    </div>

</div>